<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Váš účet na stránce ciklova3.cz</title>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Byl Vám založen nový účet na stránce <a href="http://ciklova3.cz">www.ciklova3.cz</a>. Přihlašovací jméno je <b>{$email}</b>, aktuální heslo je <b>{$heslo}</b>. To si můžete změnit v nastavení, po přihlášení.</p>
    
    <p>Na stránkách naleznete aktuální dostupné dokumenty týkající se družstva a další informace.</p>
</body>
</html>