{block content}

<h3>Nahrát nový dokument</h3>
<a n:href="Dokumenty:default"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Zpět</a>

{control dokumentUploadForm}
        
{/block}