{block content}

<h3>Přidání nového příspěvku do diskuzního fóra <small>vlákno {$basePrispevek->titulek}</small></h3>

<a n:href="Diskuze:vlakno $basePrispevek->id"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Zpět</a>
<br>

{control prispevekForm}
 
{/block}